<div class="container mt-4">
  <h2 style="margin-bottom: 50px;">Search Cleaners</h2>

  <!-- Search Form for All Filters -->
  <form (ngSubmit)="applyAllFilters()">
    <!-- Search by Name -->
    <div class="mb-3">
      <h4>Search by Name</h4>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter name" [(ngModel)]="nameSearchValue" name="nameSearchValue">
      </div>
    </div>

    <!-- Search by Status -->
    <div class="mb-3">
      <h4>Search by Status</h4>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter statuses (comma-separated)" [(ngModel)]="statusSearchValue" name="statusSearchValue">
      </div>
    </div>

    <div class="mb-3">
      <h4>Search by Date Range</h4>
      <div class="row">
        <div class="col-md-5">
          <label for="dateFrom">From:</label>
          <input type="date" class="form-control" id="dateFrom" [ngModel]="dateFromValue | date: 'yyyy-MM-dd'" (ngModelChange)="dateFromValue = $event" name="dateFromValue">
        </div>
        <div class="col-md-5">
          <label for="dateTo">To:</label>
          <input type="date" class="form-control" id="dateTo" [ngModel]="dateToValue | date: 'yyyy-MM-dd'" (ngModelChange)="dateToValue = $event" name="dateToValue">
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Apply Filters</button>
    </div>
  </form>

  <!-- Cleaners Table -->
  <h2>All Cleaners</h2>
  <button style="margin: 10px" (click)="listAllCleaners()" class="btn btn-primary">All Cleaners</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Active </th>
        <th>Status</th>
        <th>Action</th>
        <th>Start</th>
        <th>Discharge</th>
        <th>Stop</th>
        <th>Schedule</th>
      </tr>
    </thead>
    <tbody>
      <!-- ; trackBy: trackById -->
      <tr *ngFor="let cleaner of allCleaners; trackBy: trackById">
        <td>{{ cleaner.name }}</td>
        <td>
          <div class="circle" [class.active]="cleaner.active"></div>
        </td>
        <td>{{ cleaner.status }}</td>
        <td>
          <!-- ... -->
          <!-- Control buttons based on cleaner status -->
          <button style="margin-right: 20px;" class="btn btn-primary" (click)="eraseCleaner(cleaner.name, cleaner.cleanerId)">Erase</button>
        </td>
        <td>
          <button style="margin-right: 20px;" *ngIf="cleaner.status === cleanerStatus.ON" class="btn btn-success" (click)="openNumberInputDialog(cleaner.cleanerId)">START</button>
          <button style="margin-right: 20px;" *ngIf="cleaner.status !== cleanerStatus.ON" class="btn btn-outline-success" (click)="openNumberInputDialog(cleaner.cleanerId)">START</button>
        </td>
        <td>
          <button style="margin-right: 20px;" *ngIf="cleaner.status === cleanerStatus.DISCHARGING" class="btn btn-warning" (click)="dischargeCleaner(cleaner.cleanerId)">DISCHARGE</button>
          <button style="margin-right: 20px;" *ngIf="cleaner.status !== cleanerStatus.DISCHARGING" class="btn btn-outline-warning" (click)="dischargeCleaner(cleaner.cleanerId)">DISCHARGE</button>
        </td>
        <td>
          <button style="margin-right: 20px;" *ngIf="cleaner.status === cleanerStatus.OFF" class="btn btn-danger" (click)="stopCleaner(cleaner.cleanerId)">OFF</button>
          <button style="margin-right: 20px;" *ngIf="cleaner.status !== cleanerStatus.OFF" class="btn btn-outline-danger"(click)="stopCleaner(cleaner.cleanerId)">OFF</button>
        </td> 
        <td style="width: 20%;">
          <button type="button" class="btn btn-primary" (click)="openModal(cleaner.cleanerId)">Schedule</button>
        </td>       
        <app-schedule-cleaner 
          (scheduleEvent)="handleScheduledEvent($event)">
        </app-schedule-cleaner>
        <!-- Trigger for modal -->
    </tbody>
  </table>  
  <!-- Add pagination controls -->
<div class="d-flex justify-content-center mt-3">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>

      <li class="page-item" *ngFor="let page of [1]" [class.active]="currentPage === page">
        <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
      </li>

      <li class="page-item" [class.disabled]="allCleaners.length < pageSize">
        <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
</div>
