<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3" *ngFor="let user of users">
        <div class="card-body">
          <h5 class="card-title">Name: {{ user.name }}</h5>
          <p class="card-text">Surname: {{ user.surname }}</p>
          <p class="card-text">Email: {{ user.email }}</p>
          <p class="card-text">Permissions: {{ user.permissions }}</p>
          <button class="btn btn-primary" (click)="editUser(user.id)">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
